# Goal                 
<!--  -->              
The aim of this project is to predict the **Movie Box Office Revenue**            
<!--  -->           
# How will this project helps?           
<!--  -->       
* This project is for **Producers**,helping them to earn more money.investing on right movie script or genre.

In [1]:
# Imoorting essential libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

import ast
import datetime
from collections import Counter

In [2]:
cd/users/prave/datasets/csv files/IMDB/

C:\users\prave\datasets\csv files\IMDB

In [3]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
sub=pd.read_csv('sample_submission.csv')

# Exploring Datasets

In [4]:
print('train dataset shape: {}'.format(train.shape))
print("test dataset shape: {}".format(test.shape))

train dataset shape: (2400, 23)
test dataset shape: (600, 22)

In [5]:
train.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,272,NaN,72500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.sonypictures.com/homevideo/talladeg...,tt0415306,en,Talladega Nights: The Ballad of Ricky Bobby,Lifelong friends and national idols Ricky Bobb...,6.936688,...,8/4/06,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The story of a man who could only count to #1,Talladega Nights: The Ballad of Ricky Bobby,"[{'id': 5922, 'name': 'north carolina'}, {'id'...","[{'cast_id': 8, 'character': 'Ricky Bobby', 'c...","[{'credit_id': '52fe4521c3a36847f80be20f', 'de...",162966177
1,2804,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 28, '...",NaN,tt0305396,en,The Crocodile Hunter: Collision Course,Aussie adventurer Steve Irwin aka The Crocodil...,3.148745,...,7/26/02,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His First Big-Screen Adventure!,The Crocodile Hunter: Collision Course,"[{'id': 3185, 'name': 'crocodile'}]","[{'cast_id': 1, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47019251416c7508ad2d', 'de...",33082548
2,2549,"[{'id': 10456, 'name': 'Dirty Harry Collection...",0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt0070355,en,Magnum Force,"""Dirty"" Harry Calahan is a San Francisco Polic...",10.226181,...,12/23/73,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A man's got to know his limitations.,Magnum Force,"[{'id': 1679, 'name': 'arbitrary law'}, {'id':...","[{'cast_id': 1, 'character': 'Insp. Harry Cala...","[{'credit_id': '52fe439b9251416c7501701b', 'de...",39768000

In [6]:
test.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,2175,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0117214,fa,نون و گلدون,A semi-autobiographical account of Makmahlbaf'...,1.342194,...,"[{'iso_3166_1': 'IR', 'name': 'Iran'}, {'iso_3...",8/13/96,78.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,A Moment of Innocence,"[{'id': 1419, 'name': 'gun'}, {'id': 1442, 'na...","[{'cast_id': 2, 'character': 'The Policeman', ...","[{'credit_id': '52fe466ec3a36847f80fecaf', 'de..."
1,2564,NaN,7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0449999,hi,कभी अलविदा ना कहना,Dev and Maya are both married to different peo...,2.372520,...,"[{'iso_3166_1': 'IN', 'name': 'India'}]",8/11/06,193.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Love.... That Broke All Relationships,Kabhi Alvida Naa Kehna,"[{'id': 596, 'name': 'adultery'}, {'id': 34094...","[{'cast_id': 1, 'character': 'Dev Saran', 'cre...","[{'credit_id': '52fe45ee9251416c75067637', 'de..."
2,1493,NaN,25000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.nostringsattachedmovie.com/,tt1411238,en,No Strings Attached,Emma is a busy doctor who sets up a seemingly ...,8.880570,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1/21/11,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friendship has its benefits.,No Strings Attached,"[{'id': 494, 'name': 'father son relationship'...","[{'cast_id': 14, 'character': 'Emma Kurtzman',...","[{'credit_id': '58af1db8c3a3684605000048', 'de..."

In [7]:
# Merging the train and test dataset for EDA      
train['test_data']=0
test['test_data']=1
test['revenue']=np.NaN

df=pd.concat([train,test])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 599
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                2400 non-null   float64
 23  test_data              3000 non-null   int64
dtypes: float64(3), int64(3), object(18)
memory usage: 585.9+ KB

In [9]:
df.dtypes

id                         int64
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
Keywords                  object
cast                      object
crew                      object
revenue                  float64
test_data                  int64
dtype: object

In [10]:
# checking null values
df.isna().sum().sort_values(ascending=False)

belongs_to_collection    2396
homepage                 2054
revenue                   600
tagline                   597
Keywords                  276
production_companies      156
production_countries       55
spoken_languages           20
crew                       16
cast                       13
overview                    8
genres                      7
runtime                     2
poster_path                 1
status                      0
title                       0
id                          0
release_date                0
popularity                  0
original_title              0
original_language           0
imdb_id                     0
budget                      0
test_data                   0
dtype: int64

**Note:** Removing belongs_to_collection & home page features.because,the contain more than 60% NaN values.

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,3000.0,1.500500e+03,8.661697e+02,1.000000,7.507500e+02,1.500500e+03,2.250250e+03,3.000000e+03
budget,3000.0,2.253133e+07,3.702609e+07,0.000000,0.000000e+00,8.000000e+06,2.900000e+07,3.800000e+08
popularity,3000.0,8.463274e+00,1.210400e+01,0.000001,4.018053e+00,7.374861e+00,1.089098e+01,2.943370e+02
runtime,2998.0,1.078566e+02,2.208643e+01,0.000000,9.400000e+01,1.040000e+02,1.180000e+02,3.380000e+02
revenue,2400.0,6.765008e+07,1.361038e+08,1.000000,2.402361e+06,1.704623e+07,7.173634e+07,1.519558e+09
test_data,3000.0,2.000000e-01,4.000667e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00

# Exploratory Data Analysis & Data Cleaning                 
<!--  -->              
* Plotting bargraphs and countplots for numeric and categorical features       
* Handling NaN/Missing values        
* Remove unwanted columns
* Removing alphabets/speical characters form the features

In [12]:
# Removing unwanted columns
df.drop(['belongs_to_collection','homepage','poster_path','original_title','tagline','overview','imdb_id','title'],axis=1,inplace=True)

In [13]:
dict_columns = ['genres', 'production_companies','production_countries', 'spoken_languages', 'Keywords', 'cast', 'crew']

def text_to_dict(df):
    for column in dict_columns:
        df[column] = df[column].apply(lambda x: {} if pd.isna(x) else ast.literal_eval(x) )
    return df
df=text_to_dict(df)

**Genre**

In [14]:
genre=df['genres'].apply(lambda x:[i['name'] for i in x] if x!={} else [])
genre.head()

0                       [Comedy]
1    [Family, Action, Adventure]
2      [Action, Crime, Thriller]
3                        [Drama]
4           [Documentary, Music]
Name: genres, dtype: object

In [15]:
Counter([i for j in genre for i in j])

Counter({'Comedy': 1028,
         'Family': 260,
         'Action': 741,
         'Adventure': 439,
         'Crime': 469,
         'Thriller': 789,
         'Drama': 1531,
         'Documentary': 87,
         'Music': 100,
         'History': 132,
         'Horror': 301,
         'Fantasy': 232,
         'Science Fiction': 290,
         'Foreign': 31,
         'Animation': 141,
         'Mystery': 225,
         'Romance': 571,
         'War': 100,
         'Western': 43,
         'TV Movie': 1})

In [16]:
top_genres=[m[0] for m in Counter([i for j in genre for i in j]).most_common(10)]
top_genres

['Drama',
 'Comedy',
 'Thriller',
 'Action',
 'Romance',
 'Crime',
 'Adventure',
 'Horror',
 'Science Fiction',
 'Family']

In [17]:
# Creating new feature for genre
for g in top_genres:
    df['genres_'+g]=df['genres'].apply(lambda x:1 if g in [i['name'] for i in x] else 0)
df.drop('genres',axis=1,inplace=True)

**Production_countries**

In [18]:
countries=df['production_countries'].apply(lambda x:[i['name'] for i in x] if x!={} else [])
countries.head()

0               [United States of America]
1    [Australia, United States of America]
2               [United States of America]
3                                       []
4                         [United Kingdom]
Name: production_countries, dtype: object

In [19]:
Counter([i for j in countries for i in  j])

Counter({'United States of America': 2282,
         'Australia': 61,
         'United Kingdom': 380,
         'South Korea': 22,
         'India': 81,
         'France': 222,
         'Japan': 61,
         'Canada': 120,
         'Italy': 64,
         'Spain': 54,
         'Germany': 167,
         'China': 42,
         'Switzerland': 8,
         'Israel': 5,
         'Czech Republic': 14,
         'Romania': 8,
         'Denmark': 13,
         'Sweden': 18,
         'Ireland': 23,
         'Turkey': 5,
         'Russia': 58,
         'New Zealand': 17,
         'Mongolia': 1,
         'Netherlands': 15,
         'Hong Kong': 42,
         'Malta': 2,
         'Morocco': 3,
         'Luxembourg': 10,
         'Mexico': 19,
         'South Africa': 10,
         'Brazil': 12,
         'Ukraine': 2,
         'Greece': 7,
         'Belgium': 23,
         'Iran': 5,
         'Chile': 6,
         'Philippines': 3,
         'Croatia': 1,
         'Ethiopia': 1,
         'Bulgaria': 3,
         'Cambodia': 2,
         'Poland': 5,
         'Singapore': 2,
         'Finland': 6,
         'Hungary': 9,
         'Cyprus': 1,
         'United Arab Emirates': 9,
         'Norway': 7,
         'Taiwan': 3,
         'Bahamas': 3,
         'Austria': 8,
         'Uruguay': 1,
         'Paraguay': 1,
         'Saudi Arabia': 1,
         'Jordan': 1,
         'Burkina Faso': 1,
         'Ghana': 1,
         'Iceland': 2,
         'Argentina': 6,
         'Slovenia': 1,
         'Serbia': 2,
         'Mauritania': 1,
         'Costa Rica': 1,
         'Algeria': 1,
         'Pakistan': 2,
         'Puerto Rico': 1,
         'Qatar': 2,
         'Tunisia': 2,
         'Bosnia and Herzegovina': 1,
         'Indonesia': 2,
         'Namibia': 1,
         'Serbia and Montenegro': 1,
         'Peru': 1,
         'Portugal': 1})

In [20]:
top_countries=[m[0] for m in Counter([i for j in countries for i in j]).most_common(7)]
top_countries

['United States of America',
 'United Kingdom',
 'France',
 'Germany',
 'Canada',
 'India',
 'Italy']

In [21]:
# creating  new feature on countries
for c in top_countries:
    df['production_countries_'+c]=df['production_countries'].apply(lambda x:1 if c in [i['name'] for i in x] else 0)
df.drop('production_countries',axis=1,inplace=True)

**original_languages**

In [22]:
lang=df['original_language'].apply(lambda x:x if x!={} else [])
lang.head()

0    en
1    en
2    en
3    en
4    en
Name: original_language, dtype: object

In [23]:
Counter(lang)

Counter({'en': 2575,
         'ko': 20,
         'ta': 16,
         'ja': 37,
         'fr': 78,
         'te': 2,
         'it': 24,
         'he': 1,
         'es': 43,
         'sv': 8,
         'hi': 42,
         'ru': 47,
         'pt': 6,
         'cn': 20,
         'ro': 4,
         'fa': 5,
         'de': 18,
         'zh': 19,
         'da': 5,
         'fi': 2,
         'hu': 3,
         'nl': 6,
         'no': 2,
         'ar': 1,
         'el': 1,
         'sr': 1,
         'pl': 2,
         'mr': 1,
         'tr': 3,
         'ur': 1,
         'nb': 1,
         'ml': 2,
         'id': 1,
         'cs': 1,
         'bn': 1,
         'vi': 1})

In [24]:
top_lang=[m[0] for m in Counter(lang).most_common(5)]
top_lang

['en', 'fr', 'ru', 'es', 'hi']

In [25]:
# creating new feature for original_language
for l in top_lang:
    df['original_language_'+l]=df['original_language'].apply(lambda x:1 if l in x!={} else 0)
df.drop('original_language',axis=1,inplace=True)

In [26]:
# convert relased as 1 and rumored as 0
df['released']=df['status'].apply(lambda x:1 if x=='Released' else 0)
df.drop('status',axis=1,inplace=True)

In [27]:
# convert release date to timestamp
df['release_date']=pd.to_datetime(df['release_date'])

In [28]:
df['release_date']=df['release_date'].map(pd.datetime.toordinal)

In [29]:
df.drop(['production_companies','id','spoken_languages','Keywords','cast','crew'],axis=1,inplace=True)

In [30]:
df['runtime'].fillna(df['runtime'].median(),inplace=True)

In [31]:
df.head(1)

,budget,popularity,release_date,runtime,revenue,test_data,genres_Drama,genres_Comedy,genres_Thriller,genres_Action,...,production_countries_Germany,production_countries_Canada,production_countries_India,production_countries_Italy,original_language_en,original_language_fr,original_language_ru,original_language_es,original_language_hi,released
0,72500000,6.936688,732527,116.0,162966177.0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1

In [32]:
# import libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error as mae,mean_squared_error as mse

In [33]:
# Splitting the dataset into train & test
train=df[df['test_data']==0]
train=train.drop('test_data',axis=1)
test=df[df['test_data']==1]
test=test.drop('test_data',axis=1)

In [34]:
train.shape

(2400, 28)

In [35]:
X=train.drop('revenue',axis=1)
y=train['revenue']

In [36]:
X.shape

(2400, 27)

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [38]:
X_train.shape,X_test.shape

((1920, 27), (480, 27))

# Model Building             
<!--  -->              
i will experiment with 5 different algorithms,they are as follows:                  
<!--  -->               
* Linear Regression      
* Lasso             
* DecisionTreeRegressor            
* RandomForest Regressor          
* AdaBoost Regressor                   
<!--  -->                   
## Linear Regression

In [39]:
lr=LinearRegression()

In [40]:
from sklearn.model_selection import cross_val_score
cv=cross_val_score(lr,X,y,cv=10,scoring='neg_root_mean_squared_error')
print("----Average NRMSE: {}".format(round(cv.mean(),3)))
print("Standard Deviation: {}".format(round(cv.std(),3)))

----Average NRMSE: -84517658.839
Standard Deviation: 14577999.381

## Lasso

In [41]:
ls=Lasso()

In [42]:
cv=cross_val_score(ls,X,y,cv=10,scoring='neg_root_mean_squared_error')
print("----Average NRMSE: {}".format(round(cv.mean(),3)))
print("Standard Deviation: {}".format(round(cv.std(),3)))

----Average NRMSE: -84517657.746
Standard Deviation: 14577998.974

## Decision Tree

In [43]:
dt=DecisionTreeRegressor()

In [44]:
cv=cross_val_score(dt,X,y,cv=10,scoring='neg_root_mean_squared_error')
print("----Average NRMSE: {}".format(round(cv.mean(),3)))
print("Standard Deviation: {}".format(round(cv.std(),3)))

----Average NRMSE: -116549050.729
Standard Deviation: 16329893.854

## Random

In [45]:
rf=RandomForestRegressor()

In [46]:
cv=cross_val_score(rf,X,y,cv=10,scoring='neg_root_mean_squared_error')
print("----Average NRMSE: {}".format(round(cv.mean(),3)))
print("Standard Deviation: {}".format(round(cv.std(),3)))

----Average NRMSE: -82277929.551
Standard Deviation: 15389830.594

## Adaboost

In [47]:
ad=AdaBoostRegressor()

In [48]:
cv=cross_val_score(ad,X,y,cv=10,scoring='neg_root_mean_squared_error')
print("----Average NRMSE: {}".format(round(cv.mean(),3)))
print("Standard Deviation: {}".format(round(cv.std(),3)))

----Average NRMSE: -116138705.846
Standard Deviation: 10854622.38

**Note: Random Forest Regressor** is selected among all other algorithm,because it has the highest value of Neagative Root Mean Squared Error(NRMSE) i.e. it lowest value of Root Mean Squared Error(RMSE).

# Prediction

In [49]:
rf=RandomForestRegressor()
rf.fit(X,y)

RandomForestRegressor()

In [50]:
X.columns

Index(['budget', 'popularity', 'release_date', 'runtime', 'genres_Drama',
       'genres_Comedy', 'genres_Thriller', 'genres_Action', 'genres_Romance',
       'genres_Crime', 'genres_Adventure', 'genres_Horror',
       'genres_Science Fiction', 'genres_Family',
       'production_countries_United States of America',
       'production_countries_United Kingdom', 'production_countries_France',
       'production_countries_Germany', 'production_countries_Canada',
       'production_countries_India', 'production_countries_Italy',
       'original_language_en', 'original_language_fr', 'original_language_ru',
       'original_language_es', 'original_language_hi', 'released'],
      dtype='object')

In [51]:
def predict_revenue(genres='Drama',production_countries='United States of America',original_language='en',
                    budget=349943,popularity=0.45,release_date=945556,runtime=110,released=1):
    temp_array=list()
    
    # Genre
    if genres=='Drama':
        temp_array=temp_array+[1,0,0,0,0,0,0,0,0,0]
    elif genres=='Comedy':
        temp_array=temp_array+[0,1,0,0,0,0,0,0,0,0]
    elif genres=='Thriller':
        temp_array=temp_array+[0,0,1,0,0,0,0,0,0,0]
    elif genres=='Action':
        temp_array=temp_array+[0,0,0,1,0,0,0,0,0,0]
    elif genres=='Romance':
        temp_array=temp_array+[0,0,0,0,1,0,0,0,0,0]
    elif genres=='Crime':
        temp_array=temp_array+[0,0,0,0,0,1,0,0,0,0]
    elif genres=='Adventure':
        temp_array=temp_array+[0,0,0,0,0,0,1,0,0,0]
    elif genres=='Horror':
        temp_array=temp_array+[0,0,0,0,0,0,0,1,0,0]
    elif genres=='Science Fiction':
        temp_array=temp_array+[0,0,0,0,0,0,0,0,1,0]
    elif genres=='Family':
        temp_array=temp_array+[0,0,0,0,0,0,0,0,0,1]
        
    #Production companies
    if production_countries=='United States of America':
        temp_array=temp_array+[1,0,0,0,0,0,0,]
    elif production_countries=='United Kingdom':
        temp_array=temp_array+[0,1,0,0,0,0,0]
    elif production_countries=='France':
        temp_array=temp_array+[0,0,1,0,0,0,0]
    elif production_countries=='Germany':
        temp_array=temp_array+[0,0,0,1,0,0,0]
    elif production_countries=='Canda':
        temp_array=temp_array+[0,0,0,0,1,0,0]
    elif production_countries=='India':
        temp_array=temp_array+[0,0,0,0,0,1,0]
    elif production_countries=='Italy':
        temp_array=temp_array+[0,0,0,0,0,0,1]
    
    # Original Language
    if original_language=='en':
        temp_array=temp_array+[1,0,0,0,0]
    elif original_language=='fr':
        temp_array=temp_array+[0,1,0,0,0]
    elif original_language=='ru':
        temp_array=temp_array+[0,0,1,0,0]
    elif original_language=='es':
        temp_array=temp_array+[0,0,0,1,0]
    elif original_language=='hi':
        temp_array=temp_array+[0,0,0,0,1]
    
    temp_array=temp_array+[budget,popularity,release_date,runtime,released]
    
    # Converting into numpy array
    temp_array=np.array([temp_array])
    
    # prediction
    return int(rf.predict(temp_array)[0])

In [52]:
# Prodiction 1
revenue=predict_revenue(genres='Family',production_countries='India',original_language='hi',budget=5000000,
                         popularity=5.001,release_date=858832,runtime=120,released=1)
print("predicted Revenue: {}".format(revenue))

predicted Revenue: 32140204

In [53]:
# Prediction 2
revenue=predict_revenue(genres='Drama',production_countries='India',original_language='en',budget=25000000,
                         popularity=0.001,release_date=933832,runtime=90,released=1)
print("predicted Revenue: {}".format(revenue))

predicted Revenue: 28995726

In [56]:
# Prediction 3
revenue=predict_revenue(genres='Science Fiction',production_countries='United States of America',original_language='en',budget=2500000,
                         popularity=6.901,release_date=771832,runtime=130,released=1)
print("predicted Revenue: {}".format(revenue))

predicted Revenue: 45916309